<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio MVT</title>
</head>
<body>
    <h1>Lista familiar</h1>
    <p>Al dia de {{Fecha}} mi familia esta compuesta por:</p>
    <ul>
        {% for Nombres in Nombre %}
            <li> Nombre: {{Nombres}} </li>
        {% endfor %}
    </ul>
    <ul>
        {% for Edades in Edad %}
            <li> Edad: {{Edades}} </li>
        {% endfor %}
    </ul>
</body>
</html>